@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Tomorrow:wght@100;200;300;400;500;600;700;800;900&display=swap");
:root {
  --bgcolor: deepskyblue;
  --linecolor: darkgrey;
  --element-color: #52ee61;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  font-family: "Tomorrow", "Outfit", sans-serif;
}

html,
body {
  width: 100%;
  height: 100%;
}

main {
  width: -moz-fit-content;
  width: fit-content;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: normal;
  gap: 20px;
}
main #atom-body {
  width: 350px;
  height: 350px;
  position: relative;
}
main #atom-body #orbit-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
}
main #atom-body #orbit-wrapper .orbits {
  width: calc(100px + 30px * var(--shell));
  height: calc(100px + 30px * var(--shell));
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transform: translate(-50%, -50%) rotateZ(-90deg);
  background-color: transparent;
  border-radius: 50%;
  outline: solid 1.5px lightgray;
  z-index: calc(10 - var(--shell));
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0;
  animation: revolve linear infinite paused;
  animation-duration: calc(5s * var(--shell));
}
main #atom-body #orbit-wrapper .orbits:nth-child(n+2) {
  display: none;
}
main #atom-body #orbit-wrapper .orbits > .electron {
  width: 6.5px;
  height: 6.5px;
  margin-right: -1px;
  position: absolute;
  border-radius: 50%;
  background-color: var(--element-color);
  box-shadow: 0 0 0 2.5px #fff;
  transition: transform 5s ease;
  cursor: pointer;
}
main #atom-body #orbit-wrapper .electron:hover .orbits {
  background-color: red;
}
main #atom-body #nucleus {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: var(--element-color);
  cursor: pointer;
  z-index: 9999;
  box-shadow: 0 0 40px -0.5px var(--element-color), 0 2px 20px -1px rgba(0, 0, 0, 0.25), inset 0 -5px 10px 0.5px rgba(0, 0, 0, 0.05), inset 0 -10px 15px 0.5px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0;
}
main #atom-body #nucleus #element-name {
  font-size: 20px;
  font-weight: 500;
  color: white;
}
main #atom-body #nucleus #atomic-number, main #atom-body #nucleus #atomic-mass {
  font-size: 8px;
  font-weight: 500;
  color: white;
  transform: translate(2px, -5px);
}
main #atom-body #nucleus #atomic-number {
  transform: translate(-2px, 8px);
}
main #atom-details {
  width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: stretch;
  gap: 20px;
  margin: auto;
}
main #atom-details #atomic-number-range-control {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  gap: 10px;
}
main #atom-details #atomic-number-range-control #atomic-number-label {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0;
  position: relative;
}
main #atom-details #atomic-number-range-control #atomic-number-label #atomic-number-range {
  width: 100%;
  cursor: pointer;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 100%;
  height: 3px;
  background: linear-gradient(to right, var(--bgcolor) 0, var(--linecolor) 0);
  border-radius: 50px;
}
main #atom-details #atomic-number-range-control #atomic-number-label #atomic-number-range::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  transform: translateY(-45%);
  background-color: #fff;
  border: solid 2.5px var(--linecolor);
}
main #atom-details #atomic-number-range-control #atomic-number-label #atomic-number-range::-moz-range-thumb {
  -moz-appearance: none;
       appearance: none;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  transform: translateY(-45%);
  background-color: #fff;
  border: solid 2.5px var(--linecolor);
}
main #atom-details #atomic-number-range-control #atomic-number-label #atomic-number-range::-webkit-slider-runnable-track {
  width: 100%;
  height: 3px;
}
main #atom-details #atomic-number-range-control #atomic-number-label #atomic-number-range::-moz-range-track {
  width: 100%;
  height: 3px;
}
main #atom-details #atomic-number-range-control #atomic-number-label #atomic-number-range:active {
  cursor: grabbing;
}
main #atom-details #atomic-number-range-control #atomic-number-label #tooltip {
  position: absolute;
  top: -42px;
  left: 50%;
  transform: translateX(calc(-50% + 4px));
  width: 25px;
  height: 25px;
  background-color: var(--bgcolor);
  border-radius: 50%;
  color: #fff;
  font-size: 10px;
  text-align: center;
  line-height: 25px;
  display: none;
  pointer-events: none;
}
main #atom-details #atomic-number-range-control #atomic-number-label #tooltip::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -7.9px);
  width: 0;
  height: 0;
  border: solid 13px transparent;
  border-top-color: var(--bgcolor);
  border-radius: 10px;
  z-index: -999;
}
main #atom-details #atomic-number-range-control > button {
  width: 20px;
  height: 25px;
  background: transparent;
  font-size: 18px;
  color: var(--linecolor);
  cursor: pointer;
}
main #atom-details #atomic-number-range-control > button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
main #atom-details #electronic-configuration {
  height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
  flex-wrap: wrap;
}
main #atom-details #electronic-configuration .configuration {
  font-size: 16px;
  font-weight: 500;
  color: grey;
}
main #atom-details #electronic-configuration .configuration sup {
  font-size: 12px;
  margin-left: -2px;
}
main #atom-details #electronic-configuration .highlight {
  color: var(--element-color);
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}

#settings {
  position: absolute;
  top: 0;
  right: 0;
  margin: 30px 60px 30px 30px;
  background-color: #f3f3f3;
  border-radius: 10px 0 10px 10px;
  padding: 7px;
  display: none;
  flex-direction: column;
}
#settings label {
  display: block;
  border-radius: 10px;
  padding: 7px 10px;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: stretch;
  gap: 5px;
}
#settings label span:last-child {
  display: inline-block;
  width: 80px;
  margin-left: 7px;
}
#settings label:hover {
  background: rgba(0, 0, 0, 0.07);
}

#toggle-settings {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 0;
  right: 0;
  transform: translateX(-6px);
  background-color: #f3f3f3;
  margin: 30px;
  font-size: 18px;
  cursor: pointer;
  border-radius: 7px;
  z-index: 99999;
}

@keyframes revolve {
  100% {
    transform: translate(-50%, -50%) rotate(270deg);
  }
}/*# sourceMappingURL=style.css.map */